<template>
    <div
        @dragover.prevent="onDragOver"
        @dragleave="onDragLeave"
        @drop.prevent="onDrop"
        @click="onClick"
        class="cell"
        :class="{'is-over': isOver}"
    >
        <span v-if="labels.length == 0">&nbsp;</span>
        <span
            class="label"
            v-for="label in labels"
            :key="label.id"
        >
            <slot :date="date" :time="time" v-bind:data="label"></slot>
        </span>
    </div>
</template>
<script>
import uuid from 'uuid';
export default {
    props: ["date", "time", "events"],
    computed: {
        labels() {
            let events = this.events || [];
            return events.filter(evt => {
                return evt.date == this.date && evt.time == this.time;
            });
        }
    },
    data: () => ({
        isOver: false
    }),
    methods: {
        onDragOver() {
            this.isOver = true;
        },
        onDragLeave() {
            this.isOver = false;
        },
        onClick(evt) {
            this.$emit('cellClick', {
                date: this.date,
                time: this.time
            });
        },
        onDrop(evt) {
            this.isOver = false;
            let data = JSON.parse(evt.dataTransfer.getData("text"));
            let id = uuid();
            this.$emit("itemDropped", {
                id,
                data,
                date: this.date,
                time: this.time
            });
        }
    }
};
</script>
<style lang="less" scoped>
div.cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    width: 100%;
    height: 100%;
    &.is-over {
        background: lightgray;
    }
}

span {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    margin-top: 0.25em;
    border-radius: 0.25em;
    &:first-child {
        margin-top: 0;
    }
}
</style>