<template>
    <div class="responsive-scheduler-wrap">
        <div class="toolbar">
            <button @click="prevWeek"><span>&lsaquo;</span></button>
            <button @click="nextWeek"><span>&rsaquo;</span></button>
            <span class="responsive-scheduler show-only-on-small">
                {{ momento(startDate).add(week,'days').format('MMMM \\d\\e YYYY') }}
            </span>
            <span class="responsive-scheduler show-only-on-medium">
                {{ momento(startDate).add(week*2,'days').format('MMMM \\d\\e YYYY') }}
            </span>
            <span class="responsive-scheduler show-only-on-large">
                {{ momento(startDate).add(week*4,'days').format('MMMM \\d\\e YYYY') }}
            </span>
            <span class="responsive-scheduler show-only-on-xlarge">
                {{ momento(startDate).add(week*7,'days').format('MMMM \\d\\e YYYY') }}
            </span>
        </div>
        <div class="calendar">
            <Scheduler :hours="hours" :daysToShow="1" :events="events" @cellClick="evt => $emit('cellClick', evt)" @itemDropped="evt => $emit('itemDropped', evt)" :week="week" :startDate="startDate" class="responsive-scheduler show-only-on-small" v-slot="slotProps"><slot v-bind="slotProps"></slot></Scheduler>
            <Scheduler :hours="hours" :daysToShow="2" :events="events" @cellClick="evt => $emit('cellClick', evt)" @itemDropped="evt => $emit('itemDropped', evt)" :week="week" :startDate="startDate" class="responsive-scheduler show-only-on-medium" v-slot="slotProps"><slot v-bind="slotProps"></slot></Scheduler>
            <Scheduler :hours="hours" :daysToShow="4" :events="events" @cellClick="evt => $emit('cellClick', evt)" @itemDropped="evt => $emit('itemDropped', evt)" :week="week" :startDate="startDate" class="responsive-scheduler show-only-on-large" v-slot="slotProps"><slot v-bind="slotProps"></slot></Scheduler>
            <Scheduler :hours="hours" :daysToShow="7" :events="events" @cellClick="evt => $emit('cellClick', evt)" @itemDropped="evt => $emit('itemDropped', evt)" :week="week" :startDate="startDate" class="responsive-scheduler show-only-on-xlarge" v-slot="slotProps"><slot v-bind="slotProps"></slot></Scheduler>
        </div>
    </div>
</template>
<script>

import Scheduler from './Scheduler';

import moment from 'moment';
import 'moment/locale/pt-br';
moment.locale('pt-BR');

export default {
    props: ['startDate', 'events', 'hours'],
    data: () => ({
        week: 0
    }),
    components: {
        Scheduler
    },
    methods: {
        momento(d) {
            return moment(d);
        },
        prevWeek() {
            this.week = this.week - 1;
            if (this.week < 0) {
                //this.week = 0;
            }
            let start_date = moment(this.startDate).add(this.week*7,'days').format('YYYY-MM-DD');
            let end_date = moment(this.startDate).add(this.week*7 + 6,'days').format('YYYY-MM-DD');
            this.$emit('updateDateInterval', {start_date, end_date })
        },
        nextWeek() {
            this.week = this.week + 1;
            let start_date = moment(this.startDate).add(this.week*7,'days').format('YYYY-MM-DD');
            let end_date = moment(this.startDate).add(this.week*7 + 6,'days').format('YYYY-MM-DD');
            this.$emit('updateDateInterval', {start_date, end_date })
        }
    },
    computed: {
        
    }
}
</script>
<style lang="less" scoped>
    div.responsive-scheduler-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        .toolbar {
            height: 48px;
            width: 100%;
            display: flex;
            align-items: center;
            & > span {
                font-size: 1.25em;
                margin-left: 1em;
            }
            button {
                border: none;
                background :white;
                font-size: 32px;
                width: 32px;
                height: 32px;
                padding: 0;
                
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                    
                &:hover, &:visited {
                    background: rgb(238, 238, 238);
                    cursor: pointer;
                }
                &:active {
                    background: lightgray;
                    
                }

                
                border-radius: 50%;
                margin-right: 0.25em;
                span {
                    margin-top: -4px;
                }

            }
        }
        .calendar {
            width: 100%;
            height: ~"calc(100% - 48px)";
            

        }
        .responsive-scheduler {
            display: none;
            @media screen and (max-width: 80px + 200px * 2) {
                &.show-only-on-small {
                    display: block;
                }
            }
            @media screen and (min-width: 80px + (200px * 2)) and (max-width: 80px + (200px * 4)) {
                &.show-only-on-medium {
                    display: block;
                }
            }
            @media screen and (min-width: 80px + (200px * 4)) and (max-width: 80px + (200px * 7)) {
                &.show-only-on-large {
                    display: block;
                }
            }
            @media screen and (min-width: 80px + (200px * 7))  {
                &.show-only-on-xlarge {
                    display: block;
                }
            }
        }
    }

</style>