<template>
    <div class="scheduler">                
        <div class="content">
            <div class="vertical-scroll">
            <table >
                <thead>
                    <tr>
                        <th width="80px"></th>
                        <th :style="`width: calc((100% - 80px) / ${daysToShow} );`" v-for="day in days" :key="day.format('YYYY-MM-DD')">
                            {{ day.format('ddd')}}
                            <span>{{ day.format('DD') }}</span>
                        </th>
                    </tr>
                </thead>
            
                    <tbody>
                        <tr v-for="hour in hours" :key="hour.id">
                            <!--
                            <td width="80px" align="center">{{ hour }}:00</td>
                            -->
                            <td width="80px" align="center">{{ hour.titulo }}</td>

                            <td :style="`width: calc((100% - 80px) / ${daysToShow} );`" v-for="day in days" :key="day.format('YYYY-MM-DD')">
                                <Cell @itemDropped="evt => $emit('itemDropped', evt)" @cellClick="evt => $emit('cellClick', evt)" :date="day.format('YYYY-MM-DD')" :time="`${hour.id}`" :events="events" v-slot="slotProps">
                                    <slot v-bind="slotProps"></slot>
                                </Cell>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>

import moment from 'moment';
import 'moment/locale/pt-br';
moment.locale('pt-BR');

import Cell from './Cell';

export default {
    components: {
        Cell
    },
    props: {
        'startDate': [String,Number,Object],
        'events': [Array],
        'hours': [Array],
        'week': {
            type: Number,
            default: 0
        },
        'daysToShow': {
            type: Number,
            default: 7
        }
    },
    
    computed: {
        days() {
            let days = [];
           
            for (let i = 0; i < this.daysToShow; i++) {
                let date = moment(this.startDate).add(i + this.week * this.daysToShow, 'days');
                days.push(date);
            }
            return days;
        },
        /*
        hours() {
            let hours = [];
            for (let hour = 0; hour < 24; hour++) {
                hours.push(hour >= 10 ? hour : `0${hour}`);
            }
            return hours;
        },
        */
        items() {
            let events = this.events||[];
            let items = {};
            events.forEach(event => {
                if (!items[event.date]) {
                    items[event.date] = {};
                }
                items[event.date][event.time] = event;
            });
            console.log(items, events);
            return items;
        }
    }
}
</script>
<style lang="less" scoped>
    @mainColor: #0d7ac4;
    * {
        box-sizing: border-box;
    }
    .scheduler {
        width: 100%;        
        height: 100%;
        .content {
            width: 100%;
            height: 100%;
            table {
                border-collapse: collapse;
                width: ~"calc(100% - 1px)";
                height: 100%;
                font-family: sans-serif;
                position: relative;
                
                thead {
                    tr {
                        width: 100%;
                            
                        th {
                            font-weight: normal;
                            font-size: 0.8em;
                            position: sticky;
                            background: white;
                            top: -1px;
                            
                            &::after {
                                content: '';
                                width: 100%;
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                border-bottom: 2px solid rgba(0,0,0,0.15);
                            }
                            span {
                                font-size: 1.5em;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: auto;
                                width: 2em;
                                height: 2em;
                                border-radius: 50%;
                                
                                margin-top: 0.25em;
                            }
                        }
                    }
                }
                tbody {
                    
                    
                    
                    tr {
                        td {
                            
                            border: 1px solid lightgray;
                            
                        }
                    }
                }
            }

            .vertical-scroll {
                height: 100%;
                width: 100%;
                overflow-y: auto;
            }
        }
    }
</style>