<template>
    <div id="app">
        <div class="events">
            <div
                class="corretor"
                draggable="true"
                v-for="corretor in corretores"
                :key="corretor.id"
                :style="`background-color: ${corretor.backgroundColor};color:${corretor.color};`"
                @dragstart="evt => onDragStart(evt, corretor)"
            >{{ corretor.title }}</div>
        </div>
        <div class="calendar">
            <Scheduler :hours="hours" :events="events" @itemDropped="onItemDropped" @itemClick="onItemClick" v-slot="{date, time, data}">
                <div draggable="true" @dragstart="evt => onEventDragStart(evt, {date, time, data})" class="event" :style="`background-color: ${data.backgroundColor};color: ${data.color}`">{{ data.title }}</div>
            </Scheduler>
        </div>
    </div>
</template>
<script>
import Scheduler from "./components/ResponsiveScheduler";
import uuid from 'uuid';

export default {
    components: {
        Scheduler
    },
    methods: {
        onDragStart(evt, corretor) {
            evt.dataTransfer.setData('text', JSON.stringify(corretor));
        },
        onEventDragStart(evt, { date, time, data }) {
            evt.dataTransfer.setData('text', JSON.stringify({ date, time, data }));
        },
        onItemClick(evt) {            
            const events = this.events.filter(({ id }) => id != evt.id);
            this.events = events;
        },
        onItemDropped(evt) {
            let {date, time, data} = evt;

            if (data.data) {
                this.events = this.events.filter(({ id }) => id !== data.data.id);
                data = {
                    ...data.data,
                    date: data.date,
                    time: data.time,
                    id: data.id
                };
            }

            console.log(data);

            const event = {
                id: uuid(),
                backgroundColor: data.backgroundColor,
                color: data.color,
                title: data.title,
                
                date: date,
                time: time,
                data
            };
            this.events = [
                ...this.events,
                event
            ];
            
        }
    },
    data: () => ({
        corretores: [
            {
                id: 1,
                backgroundColor: "red",
                color: "white",
                title: "teste1"
                
            },
            {
                id: 2,
                backgroundColor: "blue",
                color: "white",
                title: "teste2"
            },
            {
                id: 3,
                backgroundColor: "green",
                color: "white",
                title: "teste3"
            }
        ],
        events: [
        ],
        hours: [
            {
                id: 1,
                titulo: 'Manhã',
                inicio: '00:00',
                fim: '11:00'
            },
            {
                id: 2,
                titulo: 'Tarde',
                inicio: '12:00',
                fim: '18:00'
            },
            {
                id: 3,
                titulo: 'Noite',
                inicio: '19:00',
                fim: '23:00'
            },
        ]
    })
};
</script>

<style lang="less">
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    #app {
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        .calendar,
        .events {
            width: 100%;
        }
        .events {
            padding: 1em;
            box-sizing: border-box;
            .corretor {
                cursor: pointer;
                padding: 0.25em 0.5em;
                border-radius: 0.25em;
                box-sizing: border-box;
                display:inline-block;
                margin-bottom: 0.25em;
                margin-right: 0.25em;
            }
        }
    }
}
.event {
    border: 1px solid red;
}
</style>